<!DOCTYPE html>
<html>
  <head>
    <title>User Testing Tool</title>
    <meta charset="utf8">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/screen.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
  </head>
  <body>
    <div id="navbar-view"></div>
    <div class="view" id="home-view" style="display: none;"></div>
    <div role="alert" class="view" id="test-view" style="display: none;"></div>
    <div class="view" id="result-view" style="display: none;"></div>
    <div id="iframe-view" style="display: none;"></div>

    <script type="text/template" id="iframe-template">
      <iframe title="Page being tested" src="<%= webPage %>" sandbox="allow-forms allow-scripts"></iframe>
    </script>

    <script type="text/template" id="navbar-template">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href="#">UTT</a>
          <ul class="nav">
            <li <% if (route == 'test') { %>class="active"<% } %> id="test-nav-button"><a href="#/test"><%= _test %></a></li>
            <li <% if (route == 'result') { %>class="active"<% } %> id="result-nav-button"><a href="#/result"><%= _results %></a></li>
          </ul>
          <% if (route == 'home') { %>
            <ul class="nav pull-right">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown"><i class="icon-globe"></i> <%= _language %>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li <% if (language == 'en') { %>class="disabled"<% } %>><a class="language" data-language="en"><%= _languageEnglish %></a>
                  <li <% if (language == 'no') { %>class="disabled"<% } %>><a class="language" data-language="no"><%= _languageNorwegian %></a>
                </ul>
              </li>
            </ul>
          <% } %>
          <% if (route != 'home') { %>
            <form class="navbar-form pull-right" onsubmit="return false;">
              <div class="input-append">
                <input <% if (state == 'loading') { %>disabled="true"<% } %>id="web-page" type="text" value="<%= webPage %>" class="span4">
                <button <% if (state == 'loading') { %>class="btn disabled" disabled="true"<% } else { %>class="btn" <% } %> id="set-web-page" value="Set"><%= _set %></button>
              </div>
            </form>
          <% } %>
        </div>
      </div>
    </script>

    <script type="text/template" id="home-template">
      <div class="row">
        <div class="span12">
          <h1><%= userTestingTool %></h1>
          <p class="lead"><%= description %></p>
          <p class="lead"><%= enterWebPage %></p>
          <form class="form-inline" onsubmit="return false;">
            <div class="input-append">
              <input <% if (state == 'loading') { %>disabled="true"<% } %>id="web-page-2" type="text" value="<%= webPage %>" class="span4 input-large">
              <button <% if (state == 'loading') { %>class="btn btn-primary disabled" disabled="true"<% } else { %>class="btn btn-primary" <% } %> id="set-web-page-2" value="Set"><%= startTesting %></button>
            </div>
          </form>
          <hr>
          <p>
            <%= reportIssue %>
          </p>
        </div>
      </div>
    </script>

    <script type="text/template" id="result-template">
      <h1><%= _resultsForWebPage %></h1>
      
      <p class="lead">
      <form class="form-inline" onsubmit="return false;">
        <fieldset>
          <label class="checkbox inline"><input type="checkbox" id="hideAutomatedCheckerResults" <%= checked %>"><%= _hideAutomated %></label>
        <fieldset>
      </form>
      </p>

      <table class="table">
        <thead>
          <tr>
            <th><%= _category %></th>
            <th><%= _line %></th>
            <th><%= _column %></th>
            <th><%= _testId %></th>
            <th><%= _testResultId %></th>
            <th><%= _testTitle %></th>
            <th><%= _answer %></th>
          </tr>
        </thead>
        <tbody>
        <% _.each(tests, function(test) { %>
          <tr class="<%= test.category %> <%= test.dimClass %>">
            <td class="category"><%= test._category %></td>
            <td><%= test.line %></td>
            <td><%= test.column %></td>
            <td><%= test.testId %></td>
            <td><%= test.testResultId %></td>
            <td><%= test.testTitle %></td>
            <td><%= test._answer %></td>
          </tr>
        <% }); %>
        </tbody>
      </table>
      <!--<p style="text-align: right;"><button id="submit-results-button" class="btn btn-primary btn-large">Submit results</button></p>-->
    </script>

    <script type="text/template" id="result-template-loading">
      <h1>Results for <%= webPage %></h1>
      <table class="table">
        <thead>
          <tr>
            <th>Category</th>
            <th>Line</th>
            <th>Column</th>
            <th>Test id</th>
            <th>Test result id</th>
            <th>Test title</th>
            <th>Answer</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="7">Loading web page…</td>
          </tr>
        </tbody>
      </table>
    </script>

    <script type="text/template" id="result-template-error">
      <h1>Results for <%= webPage %></h1>
      <table class="table">
        <thead>
          <tr>
            <th>Category</th>
            <th>Line</th>
            <th>Column</th>
            <th>Test id</th>
            <th>Test result id</th>
            <th>Test title</th>
            <th>Answer</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="7">Could not find web page.</td>
          </tr>
        </tbody>
      </table>
    </script>

    <script type="text/template" id="test-progress">
      <div class="progress">
        <div class="bar" style="width: <%= progress %>%;"></div>
      </div>
    </script>

    <script type="text/template" id="test-loading">
      <div class="progress progress-striped active">
        <div class="bar" style="width: 100%;"></div>
      </div>
      <p class="lead">Preparing questions for <%= webPage %>…</p>
    </script>

    <script type="text/template" id="test-error">
      <p class="lead">Could not find <%= webPage %>.</p>
    </script>

    <script type="text/template" id="test-nothing-to-test">
      <p class="lead">There is nothing to verify for <%= webPage %>.</p>
    </script>

    <script type="text/template" id="test-case-template">
<h1><%= progressMessage %></h1>
      <p aria-live="assertive" class="lead"><%= _question %></p>
      <div style="margin-bottom: 8px;">
        <% if (!isAtFirst) {  %>
          <a href="<%= previousUrl %>" style="margin-right: 2em;"><i class="icon-angle-left"></i> <%= _previousTest %></a>
        <% } else {  %>
          <span class="dim" style="margin-right: 2em;"><i class="icon-angle-left"></i> <%= _previousTest %></span>
        <% }  %>
        <div class="btn-group">
          <% _.each(answers, function(answer) { %>
            <button class="answer btn" value="<%= answer.value %>"><%= answer._value %></button>
          <% }); %>
        </div>
      <a href="<%= nextUrl %>" style="margin-left: 2em;"><%= _skipTest %> <i class="icon-angle-right"></i></a>
      </div>
    </script>

    <script data-main="main" type="text/javascript" charset="utf-8" src="require.js"></script>
  </body>
</html>
