<!DOCTYPE html>
<html>
  <head>
    <title>User Testing Tool</title>
    <meta charset="utf8">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/screen.css" rel="stylesheet">
  </head>
  <body>
    <div id="navbar-view"></div>
    <div class="view" id="home-view"></div>
    <div class="view" id="test-view" style="display: none;"></div>
    <div class="view" id="result-view" style="display: none;"></div>
    <div id="iframe-view" style="display: none;"></div>

    <script type="text/template" id="iframe-template">
      <iframe src="<%= webPage %>" sandbox="allow-forms allow-scripts"></iframe>
    </script>

    <script type="text/template" id="navbar-template">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href="#">UTT</a>
          <form class="navbar-form pull-right" onsubmit="return false;">
            <div class="input-append">
              <input id="web-page" type="text" placeholder="Web page" value="<%= webPage %>" class="span4">
              <button id="set-web-page" class="btn" value="Set">Set</button>
            </div>
          </form>
          <ul class="nav">
            <li id="test-nav-button"><a href="#/test">Test</a></li>
            <li id="result-nav-button"><a href="#/result">Results</a></li>
          </ul>
        </div>
      </div>
    </script>

    <script type="text/template" id="home-template">
      <div class="row">
        <div class="span12">
          <h1>User Testing Tool</h1>
          <p class="lead">User Testing Tool (UTT) aims to test websites more completely by integrating user testing with automated testing services. It works on any device. The accumulated testing data will be analyzed, and used to improve existing tests and/or create new tests.</p>
          <p class="lead"><strong>To get started, enter the URL of a web page to test above.</strong></p>
          <p><a class="btn btn-primary btn-large" href="#test/0">Start testing</a></p>
        </div>
      </div>
    </script>

    <script type="text/template" id="result-template">
      <h1>Results for <%= webPage %></h1>
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Answer</th>
          </tr>
        </thead>
        <tbody>
        <% _.each(tests, function(test) { %>
          <tr>
            <td><%= test.id %></td>
            <td><a href="<%= test.url %>"><%= test.description %></a></td>
            <td><%= test.answer %></td>
          </tr>
        <% }); %>
        </tbody>
      </table>
      <p style="text-align: right;"><button id="submit-results-button" class="btn btn-primary btn-large">Submit results</button></p>
    </script>

    <script type="text/template" id="test-progress">
      <div class="progress">
        <div class="bar" style="width: <%= progress %>%;"></div>
      </div>
    </script>

    <script type="text/template" id="test-loading">
      <div class="progress progress-striped active">
        <div class="bar" style="width: 100%;"></div>
      </div>
      <p class="lead">Preparing questions for <%= webPage %>…</p>
    </script>

    <script type="text/template" id="test-case-template">
      <p class="lead"><%= question %></p>
      <p>
        <a href="<%= previousUrl %>" class="btn <%= previousExtraClass %>" style="margin-right: 24px;">Previous</a>
        <% _.each(answers, function(answer) { %>
          <label class="radio inline"><input type="radio" name="answer" value="<%= answer %>"><%= answer %></label>
        <% }); %>
        <a href="<%= nextUrl %>" class="btn btn-primary" style="margin-left: 24px;">Next</a>
      </p>
    </script>

    <script data-main="js/main" type="text/javascript" charset="utf-8" src="js/require.js"></script>
  </body>
</html>
